html{
    font-family: 'Roboto', 'Noto Sans', sans-serif;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: white; 
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22rem;
}

h1 {
    font-size: 40px;
    margin-bottom: 2rem;
    font-family: 'Noto Serif', 'Libre Baskerville', serif;
}